@model List<Product>

<table class="table table-bordered">
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProductName</td>
            <td>@item.UnitPrice</td>
        </tr>
    }
</table>