
@{
    ViewData["Title"] = "Index2";
}
@using UzaktanEgitimMVC.MvcGiris.Models.Entity;

@model List<Product>

<table>
    <tr>
        <td>Id</td>
        <td>Adi</td>
        <td>Kategori</td>
        <td>Fiyatı</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProductID</td>
            <td>@item.ProductName</td>
            <td>@item.CategoryID</td>
            <td>@item.UnitPrice</td>
        </tr>
    }
</table>